<link rel="import" href="assets/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="assets/bower_components/iron-flex-layout/iron-flex-layout.html">

<app-drawer-layout drawer-width="288px" responsive-width="1000px" fullbleed>
  <app-drawer id="drawer" swipe-open
      (app-drawer-transitioned)="drawerTransitioned($event)">
    <app-header-layout has-scrolling-region>

      <app-header shadow fixed condenses effects="waterfall">

        <!-- top toolbar -->
        <app-toolbar></app-toolbar>

        <!-- bottom toolbar -->
        <app-toolbar class="title-toolbar nav-title-toolbar">
          <div class="title">{{ title }}</div>
        </app-toolbar>

      </app-header>

      <!-- nav menu -->
      <div class="sidebar">
        <paper-menu
            id="sidebar"
            color="primary"
            class="nav-menu hue-1"
            [selected]="selectedSection"
            (iron-select)="onSectionSelected($event)">

            <a md-button color="primary"
                class="hue-1"
                [routerLink]="[section.name]"
                *ngFor="let section of sections">
              <paper-item>
                {{ section.label | translate }}
              </paper-item>
            </a>

        </paper-menu>
      </div>

    </app-header-layout>
  </app-drawer>

  <app-header-layout>
    <app-header reveals [ngClass]="{'hide': drawerVisible}">

      <app-toolbar>
        <paper-icon-button icon="menu" (click)="toggleDrawer($event)"></paper-icon-button>
        <div main-title>{{ title }}</div>
        <paper-icon-button icon="delete"></paper-icon-button>
        <paper-icon-button icon="search"></paper-icon-button>
        <paper-icon-button icon="close"></paper-icon-button>
        <paper-progress value="10" indeterminate bottom-item></paper-progress>
      </app-toolbar>

    </app-header>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </app-header-layout>

</app-drawer-layout>
